*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

nav{
	display: flex;
	min-height: 8vh;
	background-color: rgba(0,0,0,0.5);
	font-family: 'Montserrat', arial, sans-serif;
  opacity: 3;
}
.navbar-brand{
	text-align: right;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://nixon_suarez.gitlab.io/capstone-1/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 10px;
  color: black;
  background-color: #ddd;
/*  text-align: center;*/
  cursor: pointer;
}

.hero-text button:hover{
  background-color: #555;
  color: white;
}

#brand{
	color: black;
  text-transform: uppercase;
  font-family: 'Montserrat', arial, sans-serif;
  line-height: -100vw;
  font-size: 23px;
  letter-spacing: 12px;
}

#quote{
/*	text-align: center;*/
	color: #36486b;
	letter-spacing: 3px;
	text-transform: uppercase;
  font-family: 'Montserrat', arial, sans-serif;
  line-height: -100vw;
  font-size: 12px;
  letter-spacing: 2px;
}

#collaborate{
/*	text-align: center;*/
	color: #36486b;
	letter-spacing: 3px;
	text-transform: uppercase;
  font-family: 'Montserrat', arial, sans-serif;
  line-height: 0em;
  font-size: 12px;
  letter-spacing: 2px;
}

.socials{
	width: 40px;
  height: auto;
  padding: 2px 2px 2px 2px;
}

.logo-page{
	height: 30px
/*  width: 10px;*/
/*  padding: 10px 10px;
*/}

.about-me {
  font-size: 25px;
  padding-top: 80px;
  font-family: 'Montserrat', arial, sans-serif;
  letter-spacing: 1px;
}

#about {
  font-size: 15px;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', arial, sans-serif;
  letter-spacing: 1px;
}

.skills-me {
  font-size: 25px;
  padding-top: 80px;
  font-family: 'Montserrat', arial, sans-serif;
  letter-spacing: 1px;
}

#skills {
  font-size: 15px;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  font-family: 'Montserrat', arial, sans-serif;
  letter-spacing: 1px;
}

.contact-me {
  font-size: 25px;
  padding-top: 80px;
  margin-bottom: 0px;
  font-family: 'Montserrat', arial, sans-serif;
  letter-spacing: 1px;
}